<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/quickstart">Quick Start</a></li>
	        		<li><a href="/tutorial">Tutorial</a></li>
	        		<li><a href="/blog">Blogs</a></li>
	        		<li><a href="/devguide">Developer Guide</a></li>
	        		<li><a href="/resource">Resource</a></li>

	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>	        		
	        		<li><a href="https://github.com/intel-analytics/analytics-zoo">github.com/intel-analytics/analytics-zoo</a></li>
				</ul>
			</footer>
		</body>
	</html>
